
<h1>Meet the Pets!</h1>

<div class="pets-container">
  <% @pets.each do |pet| %>
    <div class="pet-container">
      <p class="name"><%= pet.name %></p>
      <p class="description"><%= pet.description %></p>
      <%= link_to 'Meet this Pet', pet_path(pet) %>
    </div>
  <% end %>
</div>
